APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = testUSERNAME = usernamePASSWORD = passwordHOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn[SSO_SERVER]DOMAIN = http://www.sso.comAUTH_PATH = /auth/showTOKEN_PATH = /auth/tokenCLIENT_ID = 123455CLIENT_SECRET = 123455[redis]host=192.168.0.131port=6379