<!DOCTYPE html>
<html>
<head>
    <title>SSO 登录授权</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body style="text-align: center;margin: 0;padding: 0">

<div id="app" class="container" style="margin: 0; border: 0px solid blue;width: 400px;margin-left: 35%;margin-top: 20px">
    <h2>SSO 登录授权</h2>
    <div style="border: 0px solid black">
        <div v-if="is_auth == 0">
            <div class="form-group" style="padding: 0px 0px 0px 0px;border: 0px solid green;text-align: left">
                <label for="account">账号:</label>
                <input type="text" class="form-control" id="account" v-model="account">
            </div>
            <div class="form-group" style="padding: 0px 0px 0px 0px;border: 0px solid red;text-align: left">
                <label for="password">密码:</label>
                <input type="password" class="form-control" id="password" v-model="password">
            </div>
            <button type="button" class="btn btn-primary" v-on:click="auth">登录</button>
        </div>

        <div v-else>
            <span>账号 admin 已经登录, 即将跳转</span>
            <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2F5b0988e595225.cdn.sohucs.com%2Fq_70%2Cc_zoom%2Cw_640%2Fimages%2F20181204%2F1639e124b4bd4ceaa21887da4be365c3.gif&refer=http%3A%2F%2F5b0988e595225.cdn.sohucs.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1618904074&t=e095b39d14285f02793313a7296cb139" style="width: 80px;">
        </div>
    </div>
</div>

</body>
<script>
    new Vue({
        el: '#app',
        data: {
            account: '',
            password: '',
            is_auth: {$is_auth},
            redirect_uri: '{$redirect_uri}'
        },
        mounted () {
            console.log(this.is_auth);
            console.log(this.redirect_uri);
            if (this.is_auth === 1) {
                setTimeout(()=>{
                    if (this.redirect_uri === '') {
                        location.href = '/index/index';
                    }
                    location.href = this.redirect_uri;
                }, 1500);
            }
        },
        methods: {
            auth: function() {
                if (this.account === '') {
                    alert('账号不能为空!');
                    return;
                }

                if (this.password === '') {
                    alert('密码不能为空!');
                    return;
                }

                //发送 post 请求
                this.$http.post(
                    '/auth/verify',
                    {
                        account: this.account,
                        password: this.password
                    },
                    {
                        emulateJSON: true
                    }
                ).then(function(res) {
                    console.log(res);
                    let data = res.body;
                    if (data.code === 0) {
                        if (this.redirect_uri === '') {
                            location.href = '/index/index';
                        } else {
                            location.href = data.data.redirect_url;
                        }
                    } else {
                        alert(data.msg);
                    }
                }, function(res){
                    console.log(res.status);
                });
            }
        }
    })
</script>
</html>
