<!DOCTYPE html>
<html>
<head>
    <title>查看 SSO 客户端信息</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/3.0.5/vue.global.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body style="text-align: center;margin: 0;padding: 0">

<div id="app" class="container" style="margin: 0; border: 0px solid blue;width: 400px;margin-left: 35%;margin-top: 20px">
    <h2>查看 SSO 客户端信息</h2>
    <div style="border: 0px solid black">
        <div class="form-group" style="padding: 0px 0px 0px 0px;border: 0px solid green;text-align: left">
            <label for="name"><span style="color:red;">*</span>系统名称:</label>
            <input type="text" class="form-control" id="name" v-model="name" disabled>
        </div>
        <div class="form-group" style="padding: 0px 0px 0px 0px;border: 0px solid red;text-align: left">
            <label for="client_id"><span style="color:red;">*</span>ClientId:</label>
            <div>
                <input type="text" class="form-control" id="client_id" disabled v-model="client_id" value="{{ client_id }}">
            </div>
        </div>
        <div class="form-group" style="padding: 0px 0px 0px 0px;border: 0px solid red;text-align: left">
            <label for="client_secret"><span style="color:red;">*</span>ClientSecret:</label>
            <div>
                <input type="text" class="form-control" id="client_secret" disabled v-model="client_secret" value="{{ client_secret }}">
            </div>
        </div>
        <div class="form-group" style="padding: 0px 0px 0px 0px;border: 0px solid red;text-align: left">
            <label for="redirect_url"><span style="color:red;">*</span>重定向地址:</label>
            <input type="text" class="form-control" id="redirect_url" v-model="redirect_url" disabled>
        </div>
        <div class="form-group" style="padding: 0px 0px 0px 0px;border: 0px solid red;text-align: left">
            <label for="logout_url"><span style="color:red;">*</span>退出登录接口:</label>
            <input type="text" class="form-control" id="logout_url" v-model="logout_url" disabled>
        </div>
        <div class="form-group" style="padding: 0px 0px 0px 0px;border: 0px solid red;text-align: left">
            <label for="status"><span style="color:red;">*</span>状态:</label>
            <select class="form-control" id="status" v-model="status" name="status" disabled>
                <option value="1">启用</option>
                <option value="0">禁用</option>
            </select>
        </div>
        <a href="javascript:history.back(-1)"><button type="button" class="btn btn-primary">返回</button></a>
    </div>
</div>

</body>
<script>
    new Vue({
        el: '#app',
        data: {
            id: '',
            name: '',
            client_id: '',
            client_secret: '',
            redirect_url: '',
            logout_url: '',
            status: 1
        },
        mounted: function () {
            let id = this.getQueryVariable('id');
            this.id = id;
            this.getInfo(id);
        },
        methods: {
            generateClientId() {
                this.client_id = this._getRandomString(16);
            },
            generateClientSecret() {
                this.client_secret = this._getRandomString(24);
            },
            getInfo(id) {
                //发送get请求
                this.$http.get('/api/info?id=' + id).then(function(res){
                    let data = res.body.data;
                    this.name = data.name;
                    this.client_id = data.client_id;
                    this.client_secret = data.client_secret;
                    this.redirect_url = data.redirect_url;
                    this.logout_url = data.logout_url;
                    this.status = data.status;
                    console.log(res);
                },function(){
                    console.log('请求失败处理');
                });
            },
            getQueryVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i=0;i<vars.length;i++) {
                    var pair = vars[i].split("=");
                    if(pair[0] == variable){return pair[1];}
                }
                return(false);
            }

        }
    })
</script>
</html>
